PORT=3000
FIREBASE_PROJECT_ID=seu-project-id
FIREBASE_CLIENT_EMAIL=email-da-conta-de-servico
FIREBASE_PRIVATE_KEY=CONFIGURAR_APENAS_NA_HOSPEDAGEM
FIREBASE_DATABASE_URL=https://seu-project-id-default-rtdb.firebaseio.com
S3_BUCKET=CONFIGURAR_APENAS_NA_HOSPEDAGEM
S3_ACCESS_KEY_ID=CONFIGURAR_APENAS_NA_HOSPEDAGEM
S3_SECRET_ACCESS_KEY=CONFIGURAR_APENAS_NA_HOSPEDAGEM
S3_REGION=auto
S3_ENDPOINT=CONFIGURAR_APENAS_NA_HOSPEDAGEM
